@model HomeViewModel

    <h2>Preffered Products</h2>

    <div>
        @foreach (var product in Model.PreferredProducts)
        {
            @Html.Partial("ProductSummary", product)
        }
    </div>